body {
    color: #333;
}
p {
    line-height: 1.6em;
}
.pure-g > div {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.pimg {
    max-width: 100%;
    height: auto;
}
.pad-a {
    padding: 2em;
}
.pad-b {
    padding: 1em;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#content {
    padding: 0 2em;
}

#layout {
    position: relative;
    padding-left: 0;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

#content h1, #content h3, #content h4, #content h5, #content h6 {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}
article {
    border:1px dashed #dfdfdf;
    margin-bottom: 3em;
}
.title {
    position: relative;
}
.title img  {
    max-width: 100%;
    height: auto;

}
.title h2 {
  position: absolute; 
  text-align: left;
  width: 80%;
  height: 0%;
  margin: auto;
  top: 0;
  left: 10px;
  bottom: 4px;
  right: 0;
  z-index: 51;
}
.wh {
    color: #fff
}
.lg {
    margin: 0px 0 20px 0;

    line-height: 1.4em;
    font-size: 1.3em;
    font-weight: 400;
}
